<% include header %>

        <div class="apollo">
            <div class="apollo-container clearfix">
                <div class="apollo-message">
                    <h2>Error<span class="user-name"></span>!</h2>
                    <% if(message) { %>
                        <p><%= message %></p>
                    <% } %>
                </div>

            </div>
        </div>


<% include footer %>