<% include header %>

        <div class="apollo">
            <div class="apollo-container clearfix">
                <div class="apollo-registering">

                        <h2>Thanks<span class="user-name"></span>!</h2>
                        <p><strong>You are logout from our system successfully </strong></p>
                </div>

            </div>
        </div>


<% include footer %>